
#dotfiles~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.Rproj.user
.Rhistory
.RData
.Ruserdata


#files~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#example: /name.extrension -> single file
#example: *.extension -> all files with this extension
annual_csv.csv
austin_bikeshare_stations.csv

#input folders~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#example: name/ -> gets rid of folders with this name
#example: name/** -> gets rid of all files in folder
data_secret/
secret/


#output folders~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
output/
myfigs/